/*  цвет основного текста #212121 */
/*  цвет вторичного текста #757575 */
/*  белый #FFFFFF */
/*  акцент #2196F3 */
:root{
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --title-color: #FFFFFF;
    --text-color: #757575;
}
.body{
    font-family: Roboto;
    background-color: #FFFFFF;
    color: var(--primary_text-color);
}
.site-nav .link{
    color: var(--primary-text-color);
}

.site-nav .link:hover, .site-nav .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}


.hero-title{
    color: #FFFFFF;
}

.section-title{
    color: var(--primary_text-color);
}

.feature-list .title{
    color: var(--primary_text-color);
}

.team-list .title{
    color: var(--title-text-color);
}

.button{
    color: var(--title-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}